/* Typography */

html {
	font-family: 'Lato', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .face-emoji {
	font-size: 2em;
}

main > .happy-birthday {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 700;
}

main > .context {
	font-family: 'Dancing Script', cursive;
	font-size: 1.5rem;
	margin: 1.5rem 0;
	line-height: 2.25rem;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 0.5rem;
	text-align: right;
	padding: 0.5rem 1rem;
}


footer a {
	color: #50bcb6;
	text-decoration: none;
}
